<th:block th:fragment="mainHero">

<!-- =======================
Main hero START -->
<section class="pt-0 card-grid">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="tiny-slider arrow-hover arrow-blur arrow-white arrow-round rounded-3 overflow-hidden">
					<div class="tiny-slider-inner"
					data-autoplay="true"
					data-hoverpause="true"
					data-gutter="0"
					data-arrow="true"
					data-dots="false"
					data-items="1">
						<!-- Slide 1 -->
						<div class="card card-overlay-bottom card-bg-scale h-400 h-sm-500 h-md-600 rounded-0" style="background-image:url(news/assets/images/blog/16by9/04.jpg); background-position: center left; background-size: cover;">
							<!-- Card Image overlay -->
		          <div class="card-img-overlay d-flex align-items-center p-3 p-sm-5"> 
		            <div class="w-100 mt-auto">
			            <div class="col-md-10 col-lg-7">
			            	<!-- Card category -->
			            	<a href="#" class="badge bg-primary mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>Business</a>
			            	<!-- Card title -->
			              <h2 class="text-white display-5"><a href="post-single-4.html" class="btn-link text-reset fw-normal">Never underestimate the influence of social media</a></h2>
			              <p class="text-white">For who thoroughly her boy estimating conviction. Removed demands expense account in outward tedious do.</p>
			              <!-- Card info -->
										<ul class="nav nav-divider text-white-force align-items-center d-none d-sm-inline-block">
										  <li class="nav-item">
										    <div class="nav-link">
											    <div class="d-flex align-items-center text-white position-relative">
											      <div class="avatar avatar-sm">
															<img class="avatar-img rounded-circle" th:src="@{/news/assets/images/avatar/01.jpg}" alt="avatar">
														</div>
														<span class="ms-3">by <a href="#" class="stretched-link text-reset btn-link">Carolyn</a></span>
													</div>
												</div>
										  </li>
										  <li class="nav-item">Jan 26, 2021</li>
										  <li class="nav-item">3 min read</li>
										</ul>
			            </div>
		            </div>
		          </div>
						</div>
						<!-- Slide 2 -->
						<div class="card card-overlay-bottom card-bg-scale h-400 h-sm-500 h-md-600 rounded-0" style="background-image:url(news/assets/images/blog/16by9/03.jpg); background-position: center left; background-size: cover;">
							<!-- Card Image overlay -->
		          <div class="card-img-overlay d-flex align-items-center p-3 p-sm-5"> 
		            <div class="w-100 mt-auto">
			            <div class="col-md-10 col-lg-7">
			            	<!-- Card category -->
			            	<a href="#" class="badge bg-danger mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>Lifestyle</a>
			            	<!-- Card title -->
			              <h2 class="text-white display-5"><a href="post-single-4.html" class="btn-link text-reset fw-normal">This is why this year will be the year of startups</a></h2>
			              <p class="text-white">Particular way thoroughly unaffected projection favorable Mrs can be projecting own. </p>
			              <!-- Card info -->
										<ul class="nav nav-divider text-white-force align-items-center d-none d-sm-inline-block">
										  <li class="nav-item">
										    <div class="nav-link">
											    <div class="d-flex align-items-center text-white position-relative">
											      <div class="avatar avatar-sm">
															<img class="avatar-img rounded-circle" th:src="@{/news/assets/images/avatar/04.jpg}" alt="avatar">
														</div>
														<span class="ms-3">by <a href="#" class="stretched-link text-reset btn-link">Louis</a></span>
													</div>
												</div>
										  </li>
										  <li class="nav-item">Nov 15, 2021</li>
										  <li class="nav-item">5 min read</li>
										</ul>
			            </div>
		            </div>
		          </div>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- Row END -->
	</div>
</section>
<!-- =======================
Main hero END -->

</th:block>