<th:block th:fragment="footer">

<!-- =======================
Footer START -->
<footer>
	<div class="container">
		<!-- About and Newsletter START -->
		<div class="row bg-dark py-5 mx-0 card-header align-items-center text-center text-md-start">
			<!-- Copyright -->
			<div class="col-md-5 mb-3 mb-md-0">
				<div class="text-primary-hover text-muted">2022 <a href="https://www.webestica.com/" class="text-reset btn-link" target="_blank">Hinduraj</a>. All rights reserved
				</div>
			</div>
			<!-- Logo -->
			<div class="col-md-3 mb-3 mb-md-0">
				<img th:src="@{/news/assets/images/logo-light.svg}" alt="footer logo">
			</div>
			<!-- Social links -->
			<div class="col-md-4">
				<ul class="nav text-primary-hover justify-content-center justify-content-md-end">
					<li class="nav-item">
						<a class="nav-link px-2 fs-5" href="#"><i class="fab fa-facebook-square"></i></a>
					</li>
					<li class="nav-item">
						<a class="nav-link px-2 fs-5" href="#"><i class="fab fa-twitter-square"></i></a>
					</li>
					<li class="nav-item">
						<a class="nav-link px-2 fs-5" href="#"><i class="fab fa-linkedin"></i></a>
					</li>
					<li class="nav-item">
						<a class="nav-link px-2 fs-5" href="#"><i class="fab fa-youtube-square"></i></a>
					</li>
					<li class="nav-item">
						<a class="nav-link ps-2 pe-0 fs-5" href="#"><i class="fab fa-vimeo"></i></a>
					</li>
				</ul>
			</div>
		</div>
		<!-- About and Newsletter END -->
	</div>
</footer>
<!-- =======================
Footer END -->

</th:block>