	<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/newsLayout}">
<head>
<title>GoAircon | The AC Expert</title>
</head>

<main layout:fragment="content">

<section class="pt-0">
	<div class="container">
		<div class="row">
			<div class="col-12" th:each="data: ${responseData}">
				<!-- Card item START -->
				<div class="card border rounded-3 up-hover p-4 mb-4">
					<div class="row g-3">
						<div class="col-lg-5">
							<!-- Categories -->
							<a href="#" class="badge bg-danger mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>[[${data?.source?.name}]]</a>
							<!-- <a href="#" class="badge bg-dark mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>Startups</a> -->
							<!-- Title -->
							<h2 class="card-title">
								<a th:href="@{${data?.url}}" class="btn-link text-reset stretched-link"> [[${data?.title}]] </a>
							</h2>
							<!-- Author info -->
							<div class="d-flex align-items-center position-relative mt-3">
								<div class="avatar me-2">
									<img class="avatar-img rounded-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvpVkmlEuN8y_vJ1eBZ8k7E62OGAUdEL3l9Q&usqp=CAU" alt="avatar">
									<!-- <img class="avatar-img rounded-circle" th:src="@{${data?.urlToImage}}" alt="avatar"> -->
								</div>
								<div>
									<h5 class="mb-1"><a href="#" class="stretched-link text-reset btn-link"> [[${data?.author}]] </a></h5>
									<ul class="nav align-items-center small">
										<li class="nav-item me-3"> [[${data?.publishedAt}]]</li>
										<li class="nav-item"><i class="far fa-clock me-1"></i>5 min read</li>
									</ul>
								</div>
							</div>
						</div>
						<!-- Detail -->
						<div class="col-md-6 col-lg-4">
							<p> [[${data?.description}]]</p>
						</div>
						<!-- Image -->
						<div class="col-md-6 col-lg-3">
							<img class="rounded-3" th:src="@{/news/assets/images/blog/4by3/07.jpg}" alt="Card image">
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</section>
				
</main>
</html>
